{% extends 'base.html.twig' %}

{% block body %}
    <body class="main-layout">
        <div class="loader_bg">
            <div class="loader"><img src="{{ asset('public/images/loading.gif') }}" alt="#" /></div>
        </div>

    {% include 'page/blogs.html.twig' %}
    {% include 'page/testimonial.html.twig' %}
    {% include 'page/contact.html.twig' %}

    </body>
    {% endblock %}

